!!!5
html(lang='en')
  head
    title #{locals.site.title} - #{file.title}
    link(rel='stylesheet', href='#{locals.site.baseURL}public/css/main.css', type='text/css', media='all')
    script(src="http://use.typekit.com/ruc1ksw.js")
    script
      try{Typekit.load();}catch(e){}
  body
    div#breadcrumbs-container
      ol#breadcrumbs
        - var crumbs = file.inFile.substring(1).split('/').filter(function(x) { return x != "index.md" })
        - var len = crumbs.length
        - if (len == 0)
          li.crumb-0.last: a(href='/') home
        - else
          li.crumb-0.not-last: a(href='/') home
          - for (var i = 0; i < len; i++)
            - var crumbLink = crumbs.slice(0, i + 1).join('/').replace(/\.md$/, '')
            - var crumbName = crumbs[i].replace(/\.md$/, '').replace('-', ' ')
            li(class=['crumb-' + (i+1), i < len - 1 ? 'not-last' : 'last']): a(href='/#{crumbLink}') #{crumbName}
    div#content
      div#content-body
        block content
          .wrap!= file.prepared
    footer
      div#footer-body
        p
          | Built by 
          a(href="http://codexjs.com") Codex
          | 
          | &mdash; 
          a(href="https://github.com/tc39/wiki/data#{file.inFile}") View Source
    