!!!5
html(lang='en')
  head
    title #{locals.site.title} - #{file.title}
    //- Rejected standard fonts:
    //-     Georgia, Garamond
    //- Rejected Google web fonts:
    //-     Alegreya, Gentium Basic, Gentium Book Basic, Average, Radley
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gentium+Basic:400italic,700italic|Buenard:400,700&subset=latin,latin-ext', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata', type='text/css')
    link(rel='stylesheet', href='#{locals.site.baseURL}public/css/main.css', type='text/css', media='all')
    link(rel='icon', href="#{locals.site.baseURL}public/images/favicon.ico")
  body
    div#breadcrumbs-container
      ol#breadcrumbs
        - var crumbs = file.inFile.substring(1).split('/').filter(function(x) { return x != "index.md" })
        - var len = crumbs.length
        - if (len == 0)
          li.crumb-0.last: a(href='#{locals.site.baseURL}') home
        - else
          li.crumb-0.not-last: a(href='#{locals.site.baseURL}') home
          - for (var i = 0; i < len; i++)
            - var crumbLink = crumbs.slice(0, i + 1).join('/').replace(/\.md$/, '')
            - var crumbName = crumbs[i].replace(/\.md$/, '').replace('-', ' ')
            li(class=['crumb-' + (i+1), i < len - 1 ? 'not-last' : 'last']): a(href='#{locals.site.baseURL}#{crumbLink}') #{crumbName}
    div#content
      div#content-body
        block content
          .wrap!= file.prepared
    footer
      div#footer-body
        p
          | Built by 
          a(href="http://codexjs.com") Codex
          span(class="footsep") &ndash;
          a(href="#{locals.site.sourceURL}/blob/master/data#{file.inFile}") View Source
          span(class="footsep") &ndash;
          a(href="http://ecma-international.org/ecma-262/5.1/") ES5.1
          span(class="footsep") &ndash;
          a(href="http://people.mozilla.org/~jorendorff/es6-draft.html") ES6 Draft
